

@media screen and (max-width:600px) {
    *{
        margin: 0 10px;
    }
    
    .nav-logo{
        gap:0px;
        align-items: center ;
    }
    .nav-logo h3{
        font-size: 1.5rem;
    
    
    }
    #hamburger-icon{
        display: inline;
    }
    .nav-menu{
        display: none;
    }

    .selection-container,
    .tour-container,
    .destination-img-container,
    .row1,
    .row2,
    .row3,
    .content-row1
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destination-img-container,  
    .row1,
    .row2,
    .row3{
        grid-template-columns: repeat(1,1fr);
    }

    .content-row2{
        margin-left: 5%;
        margin-right: 5%;
    }
    
}
