

@media screen and (max-width:600px) {
    *{
        margin: 0 10px;
    }
    
    .nav-logo{
        gap:0px;
        align-items: center ;
    }
    .nav-logo h3{
        font-size: 1.5rem;
    
    
    }
    #hamburger-icon{
        display: inline;
    }
    .nav-menu{
        display: none;
    }

    .selection-container,
    .tour-container,
    .destination-img-container,
    .row1,
    .row2,
    .row3,
    .content-row1
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .destination-img-container,  
    .row1,
    .row2,
    .row3{
        grid-template-columns: repeat(1,1fr);
    }

    .content-row2{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .deal-content1-container{position:relative;}
    .deal-content2-container{position:relative;}
    .deal-content3-container{position:relative;}

    .deal-content1-container>img{width:100%;max-width: 435px;
    height: 500px;}
    .deal-content2-container>img{width: 100%;max-width: 435px;
    height: 500px;}
    .deal-content3-container>img{width: 100%;max-width: 435px;
    height: 500px;}

    .deal-content1{position:absolute;
      top: 40%;  left: 5%; bottom: 3%;  right: 0%;}
    .deal-content2{position:absolute;
      top: 40%; left: 5%; bottom:3%;    right: 0%;   }
    .deal-content3{position:absolute;
      top: 40%;  left:5%;   bottom: 3%;   right: 0%;    }

    .deal-content1,
    .deal-content2,
    .deal-content3{
        display: grid;
        place-items: center;
        width: 90%;
        height: auto;
        max-width: 390px;
        max-height: 390px;
        padding: 0px;
    }

    .deal-content1 p,
    .deal-content2 p,
    .deal-content3 p{
        margin-bottom: 0;
    }

.text-hidden{
    visibility: hidden;
        }



        
}
