/* font style */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared styles */

.display-flex{
    display: flex;
}

.orange-color{
    color: rgb(255, 84, 0);
}

.btn-primary{
    border: none;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    padding: 14px 34px;
}



.header{
    margin-top: 50px;
}

/* navbar styles */

.nav-container{
    width: 100%;
    max-width:1170px;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-logo{
    gap: 20px;
}

.nav-logo h3{
    color:rgb(19, 19, 24);
    font-size: 2.2rem;
    font-weight: 800;
}

.nav-menu{
    gap: 44px;

}
.menu{
    list-style: none;
}
.menu>a{
    color: rgb(66, 66, 71);
    font-size: 1.2r;
    font-weight: 600;
    text-decoration: none;
}

#hamburger-icon{
    display:none ;
}


/* banner styles */

.banner-container{
    background-image: url(../Images/banner.png);
    width: 100%;
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center ;
    background-blend-mode: darken;
    background-color:rgba(19, 19, 24, 0.3);
    border-radius: 16px;    
}


.banner-content h1{
    font-size: 5vw;
    font-weight: 800;
    color:  rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
}
.banner-content p{
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.selection-container{
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        justify-content: space-evenly;
        padding: 16px;
        gap: 20px;
}


.select-style{
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 174px;
    height: 52px;
}

.option-txt{
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
}

#banner-btn{
    display:flex;
    gap: 10px;
    font-weight:600;
    padding: 15px 35px;
}

/* tour section */

.tour-container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    gap: 50px;
}

.tour-container img{
    width: 100%;
    height: 100%;
}

.tour-content{
    flex-direction: column;
    gap: 30px;
}

.tour-content h1{
    color: rgb(19, 19, 24);
    font-size: 2.6rem;    
    font-weight: 800;
}

.tour-content p ul>li{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;

}
.gap30{
    margin-top: 30px;
}


/* destination setion */

.destination-container{
    width:100%;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
}

.destination-tittle{
    text-align: center;
}

.destination-tittle h1{
    color: rgb(19, 19, 24);
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.destination-tittle p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.destination-img-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}


.row1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.row3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.row1 img, .row2 img,.row3 img{
    width: 100%;
    height:100%;

}

.country{
    position: relative;
}
.country-name{
    position: absolute;
    top: 50%;
    left: 40%;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
}

/* choose section */

.choose-container{
    width: 100%;
    max-width: 1170px;
    height:auto;
    margin:0 auto;
    margin-top: 100px; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.choose-tittle h1{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    text-align:center ;
    margin-bottom: 20px;
}

.choose-tittle p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 4%;
}

.content-row1{
    gap: 24px;
}

.content1{
    box-sizing: border-box;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px;
}

.content2{
    box-sizing: border-box;
    border: 1px solid rgba(41, 206, 246, 0.2);
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px;
}

.content-row2{
    box-sizing: border-box;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 55px;
    margin-top: 25px;
    margin-left: 25%;
    margin-right: 25%;
}

.content1 h3,.content2 h3,.content3 h3{
    color: rgb(19, 19, 24);
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 20px;
}   

.content1 p,.content2 p,.content3 p{
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;}

    /* deal section */


.deal-container{
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
}

.deal-content-container{
    flex-direction: column;
    gap: 20px;
}
.deal-content1-container{position: relative;}
.deal-content2-container{position: relative;}
.deal-content3-container{position: relative;}





.deal-content1{
    width: 50%;
    position:absolute;
    left: 45%;
    bottom: 10%;
    right: 10%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 98px 77px 50px 50px;
}
.deal-content2{
    width: 50%;
    position:absolute;
    right: 45%;
    bottom: 10%;
    left: 5%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 98px 77px 50px 50px;
}

.deal-content3{
    width: 50%;
    position:absolute;
    left: 45%;
    bottom: 10%;
    right: 10%;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 98px 77px 50px 50px;
}


.deal-content1 h3,
.deal-content2 h3,
.deal-content3 h3{
    color: rgb(19, 19, 24);
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.deal-content1 p,
.deal-content2 p,
.deal-content3 p{
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-sd{
    margin-top: 40px;
    justify-content: center;
}


/* perfect place section*/

.place-container{
    width: 100%;
    max-width: 1170px;
    height: auto;
    margin:0 auto;
    margin-top: 100px;
    gap: 50px;
}
.place-txt h1{
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.place-txt p{
    color: rgb(90, 90, 93);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.place-txt ul>li{
    color: rgb(19, 19, 24);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.place-video{
    width: 100%;
    max-width:560px;
    border-radius: 16px;
    height: 315px;
}