/* font style */

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.mulish-font {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared styles */

.display-flex{
    display: flex;
}

.orange-color{
    color: rgb(255, 84, 0);
}

.btn-primary{
    border: none;
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    padding: 14px 34px;
}



.header{
    margin-top: 50px;
}

/* navbar styles */

.nav-container{
    width: 100%;
    max-width:1170px;
    height: auto;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.nav-logo{
    gap: 20px;
}

.nav-logo h3{
    color:rgb(19, 19, 24);
    font-size: 2.2rem;
    font-weight: 800;
}

.nav-menu{
    gap: 44px;

}
.menu{
    list-style: none;
}
.menu>a{
    color: rgb(66, 66, 71);
    font-size: 1.2r;
    font-weight: 600;
    text-decoration: none;
}

#hamburger-icon{
    display:none ;
}


/* banner styles */

.banner-container{
    background-image: url(../Images/banner.png);
    width: 100%;
    max-width: 1170px;
    height: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center ;
    background-blend-mode: darken;
    background-color:rgba(19, 19, 24, 0.3);
    border-radius: 16px;    
}


.banner-content h1{
    font-size: 5vw;
    font-weight: 800;
    color:  rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
}
.banner-content p{
    color: rgb(255, 255, 255);
    font-size: 1rem ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.selection-container{
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        justify-content: space-evenly;
        padding: 16px;
        gap: 20px;
}


.select-style{
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 174px;
    height: 52px;
}

.option-txt{
    color: rgba(19, 19, 24, 0.5);
    font-size: 16px;
    font-weight: 400;
}

#banner-btn{
    display:flex;
    gap: 10px;
    font-weight:600;
    padding: 15px 35px;
}





















@media screen and (max-width:600px) {
    *{
        margin: 0 10px;
    }
    
    #hamburger-icon{
        display: inline;
    }
    .nav-menu{
        display: none;
    }

    .selection-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
